$colors:(light-green:#66FCF1, background-dark:#202833, light-grey:#C5C6C8);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 2000px;
    font-family: "Roboto Condensed", sans-serif;
}


.main-header{
    width: 100%;
    
    .main-header__nav{
        background-color: #202833;
        position: fixed;
        width: 100%;
        top: 0;
        padding: 0.5rem 0;
        z-index: 5;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            text-decoration: none;
            color: map-get($colors, light-grey);
        }
    }


    .main-header__nav__logo{
        margin: 0 auto 0 5%;
        
        font: {
            size: 2.5rem;
            family:'Source Code Pro', monospace;
        }
        span{
            color: map-get($colors, light-green );
        }
    }
    .main-header__nav__hamburger-menu{
        height: 3rem;
        padding: 0.75rem 1rem;
        vertical-align: middle;
        display: inline-block;

        img{
            height: 2rem;
        }
    }

    .main-header__nav__list{
        margin: 0 10% 0 auto;
        list-style: none;
        display: none;

        li{
            font-size: 2rem;
            padding: 0 2rem;
        }

        a:hover{
            color: rgb(165, 165, 165);
        }
    }

    .img-container{
        background: url(../images/woman-watching-sports-training-online-on-laptop-royalty-free-image-1584717965.jpg) center no-repeat;
        height: 300px;
        padding: 100px 0px;
        background-size: cover;
        position: relative;
        font: {
            size:1.5rem;
            family:'Source Code Pro', monospace;;
        }
        color: white;
        p{
            text-align: center;
            padding: 50px 50px 0 50px;
        }
    }
}

main{
    overflow: hidden;
    section{
        width: 80%;
        margin: auto;
        text-align: center;

        .container{
            h2{
                margin: 2rem 0 1rem 0;
                font-family: "Lexend Mega", sans-serif;
            }
            #for-border{
                margin-left: 25%;
                width: 50%;
                border-bottom: 1px #6b6b6b solid;
            }

            p{
                margin-top: 1rem;
                font-size: 1.2rem;
            }
            .flex-container{          
                display: flex;
                justify-content: center;
                .why-join__elt{
                    margin: 2rem 0;
                    i{
                        color:map-get($colors,light-green);
                    }
                    .why-join__elt__title{
                        margin: 0.5rem;
                        font-family: "Lexend Mega", sans-serif;
                        font-size: 1.5rem;
                    }
                    .why-join__elt__desc{
                        text-align: center;
                        padding: 0 10% 0 10%;
                    }
                }
            }
        }
        
    }
    .pricing{
        width: 100%;
        background-color: #C5C6C8;
        .container{
            width: 80%;
            margin: auto;
            .section-title{
                padding-top: 2rem;
            }
            .flex-container{
                margin: 2rem 0;
                .pricing__elt{
                    transition: 0.3s ease-in-out;
                    margin: 1rem;
                    position: relative;
                    padding-bottom: 4rem;
                    background-color: white;
                    i{
                        color: map-get($colors,light-green);
                    }
                    h4{
                        background-color: #202833;
                        color: white;
                        padding: 1rem;
                        font-family: "Lexend Mega", sans-serif;
                    }

                    .pricing__elt__signUp{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        border: 1px solid #66FCF1;
                        border-radius: 10px;
                        margin: 1rem;
                        a{
                            display: flex;
                            justify-content: center;
                            padding: 0.5rem;
                            text-decoration: none;
                            color: #66FCF1;
                        }
                        
                    }
                    .pricing__elt__signUp:hover{
                        background-color: map-get($colors,light-green);
                        a{
                            color:white;
                        }
                    }
                }
                .pricing__elt:hover{
                    transform: scale(1.05);
                }

                #prenium{
                    margin-top: 0;
                    h4{
                        background-color: map-get($colors,light-green);
                    }
                }
            }
        }
    }
}

.modal{
    position: fixed;
    display: none;
    top: 0;
    align-items: center;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: rgba(66, 65, 65,0.5);

    .modal__list{
        margin-bottom: 25%;
        width: 100%;
        background-color: map-get($colors,background-dark);
        li{
            border: 2px solid #888a8d;
            border-bottom: none;
            height: 5rem;
            a{
                display: flex;
                justify-content: space-between;
                height: 100%;
                padding: 0 30px;
                align-items: center;
                text-decoration: none;
                color: map-get($colors,light-grey);
               font: {
                   size:1.5rem;
               }
            }
        }

        li:last-of-type{
            border-bottom: 2px solid #888a8d;
        }
    }
}

@media (min-width:40rem){
    .main-header{
        .main-header__nav{
            .main-header__nav__logo{
                margin: 0 auto 0 5%;
            }
            .main-header__nav__list{
                margin: 0 10% 0 auto;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                li{
                    font-size: 2rem;
                    margin: 0 2rem;
                    padding: 0.3rem 0.75rem;
                }

                a:hover{
                    color: rgb(165, 165, 165);
                }
            }
            .main-header__nav__list__cta{
                background-color: white;
                border: 1px #66FCF1 solid;
                border-radius: 15px;

                a{
                    color: map-get($colors,light-green);
                }
            }

            .main-header__nav__list__cta:hover{
                background-color: map-get($colors,light-green);

                #sign-up__anchor{
                    color:white;
                }
            }

            .main-header__nav__hamburger-menu{
                display: none;
            }
            
            
    }
    .img-container{
        height: 600px;

        p{
            font-size: 4rem;
            text-align: center;
            padding: 150px 150px 0 150px;
        }
    }
    
}
main{
    .container{
        .flex-container{
            align-items: stretch;
            display: flex;
            .pricing__elt{
                flex-basis: 100%;
                
            }
            .why-join__elt{
                display: inline-block;
                width: 30%;
            }
        }
    }
}
}