* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.main-header {
  width: 100%;
}
.main-header .main-header__nav {
  background-color: #202833;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0.5rem 0;
  z-index: 5;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-header .main-header__nav a {
  text-decoration: none;
  color: #C5C6C8;
}
.main-header .main-header__nav__logo {
  margin: 0 auto 0 5%;
  font-size: 2.5rem;
  font-family: "Source Code Pro", monospace;
}
.main-header .main-header__nav__logo span {
  color: #66FCF1;
}
.main-header .main-header__nav__hamburger-menu {
  height: 3rem;
  padding: 0.75rem 1rem;
  vertical-align: middle;
  display: inline-block;
}
.main-header .main-header__nav__hamburger-menu img {
  height: 2rem;
}
.main-header .main-header__nav__list {
  margin: 0 10% 0 auto;
  list-style: none;
  display: none;
}
.main-header .main-header__nav__list li {
  font-size: 2rem;
  padding: 0 2rem;
}
.main-header .main-header__nav__list a:hover {
  color: #a5a5a5;
}
.main-header .img-container {
  background: url(../images/woman-watching-sports-training-online-on-laptop-royalty-free-image-1584717965.jpg) center no-repeat;
  height: 300px;
  padding: 100px 0px;
  background-size: cover;
  position: relative;
  font-size: 1.5rem;
  font-family: "Source Code Pro", monospace;
  color: white;
}
.main-header .img-container p {
  text-align: center;
  padding: 50px 50px 0 50px;
}

.main-footer .main-footer__container {
  background-color: #202833;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-footer .main-footer__container div {
  margin: 1rem 0.5rem;
}
.main-footer .main-footer__container .main-footer__container__social-media {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
}
.main-footer .main-footer__container .main-footer__container__social-media p {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  border-bottom: solid 1px #6b6b6b;
  padding-bottom: 10px;
}
.main-footer .main-footer__container .main-footer__container__social-media a {
  text-decoration: none;
  margin: 0.5rem 1rem;
}
.main-footer .main-footer__container .main-footer__container__social-media a span {
  color: white;
}
.main-footer .main-footer__container .main-footer__container__social-media a:hover i {
  color: #66FCF1;
}
.main-footer .main-footer__container .main-footer__container__social-media i {
  display: none;
  color: white;
}
.main-footer .main-footer__container .main-footer__container__social-media .main-footer__container__social-media__link-wrapper {
  width: 100%;
  text-align: center;
  margin: 0.75rem 0;
}
.main-footer .main-footer__container .main-footer__container__social-media .main-footer__container__social-media__link-wrapper:last-of-type {
  margin-bottom: 0;
}
.main-footer .main-footer__container .main-footer__container__about {
  text-align: center;
  width: 80%;
  margin-top: 0;
}
.main-footer .main-footer__container .main-footer__container__about span {
  color: #66FCF1;
}
.main-footer .main-footer__container .main-footer__container__about .main-footer__container__about__title {
  padding-bottom: 10px;
  border-bottom: solid 1px #6b6b6b;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.5rem;
}
.main-footer .main-footer__container .main-footer__container__about__desc {
  margin: auto;
  width: 75%;
}

.modal {
  position: fixed;
  display: none;
  top: 0;
  align-items: center;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: rgba(66, 65, 65, 0.5);
}
.modal .modal__list {
  margin-bottom: 25%;
  width: 100%;
  background-color: #202833;
}
.modal .modal__list li {
  border: 2px solid #888a8d;
  border-bottom: none;
  height: 5rem;
}
.modal .modal__list li a {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0 30px;
  align-items: center;
  text-decoration: none;
  color: #C5C6C8;
  font-size: 1.5rem;
}
.modal .modal__list li:last-of-type {
  border-bottom: 2px solid #888a8d;
}

@media (min-width: 40rem) {
  .main-header .main-header__nav .main-header__nav__logo {
    margin: 0 auto 0 5%;
  }
  .main-header .main-header__nav .main-header__nav__list {
    margin: 0 10% 0 auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  .main-header .main-header__nav .main-header__nav__list li {
    font-size: 2rem;
    margin: 0 2rem;
    padding: 0.3rem 0.75rem;
  }
  .main-header .main-header__nav .main-header__nav__list a:hover {
    color: #a5a5a5;
  }
  .main-header .main-header__nav .main-header__nav__list .main-header__nav__list__cta {
    background-color: white;
    border: 1px #66FCF1 solid;
    border-radius: 15px;
    padding: 0;
  }
  .main-header .main-header__nav .main-header__nav__list .main-header__nav__list__cta a {
    display: flex;
    height: 100%;
    padding: 0.3rem 0.7rem;
    color: #66FCF1;
  }
  .main-header .main-header__nav .main-header__nav__list__cta:hover {
    background-color: #66FCF1;
  }
  .main-header .main-header__nav .main-header__nav__list__cta:hover #sign-up__anchor {
    color: white;
  }
  .main-header .main-header__nav .main-header__nav__hamburger-menu {
    display: none;
  }
  .main-header .img-container {
    height: 600px;
  }
  .main-header .img-container p {
    font-size: 4rem;
    text-align: center;
    padding: 150px 150px 0 150px;
  }

  .main-footer .main-footer__container .main-footer__container__social-media i {
    display: initial;
  }
  .main-footer .main-footer__container .main-footer__container__social-media a span {
    display: none;
  }
  .main-footer .main-footer__container .main-footer__container__social-media .main-footer__container__social-media__link-wrapper {
    width: auto;
  }
}

/*# sourceMappingURL=shared.css.map */
