* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 2000px;
  font-family: "Roboto Condensed", sans-serif;
}

.main-header {
  width: 100%;
}
.main-header .main-header__nav {
  background-color: #202833;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0.5rem 0;
  z-index: 5;
  flex-wrap: wrap;
  /* height: $height_nav; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-header .main-header__nav a {
  text-decoration: none;
  color: #C5C6C8;
}
.main-header .main-header__nav__logo {
  margin: 0 auto 0 5%;
  font-size: 2.5rem;
  font-family: "Source Code Pro", monospace;
}
.main-header .main-header__nav__logo span {
  color: #66FCF1;
}
.main-header .main-header__nav__hamburger-menu {
  height: 3rem;
  padding: 0.75rem 1rem;
  vertical-align: middle;
  display: inline-block;
}
.main-header .main-header__nav__hamburger-menu img {
  height: 2rem;
}
.main-header .main-header__nav__list {
  margin: 0 10% 0 auto;
  list-style: none;
  display: none;
}
.main-header .main-header__nav__list a:hover {
  color: #a5a5a5;
}
.main-header .main-header__nav__list .main-header__nav__list__cta {
  background-color: white;
  border: 1px #66FCF1 solid;
  border-radius: 15px;
}
.main-header .main-header__nav__list .main-header__nav__list__cta a {
  color: #66FCF1;
}
.main-header .main-header__nav__list .main-header__nav__list__cta:hover {
  background-color: #66FCF1;
  border-color: white;
}
.main-header .main-header__nav__list .main-header__nav__list__cta:hover a {
  color: white;
}
.main-header .main-header__nav__list .main-header__nav__list__cta:hover #sign-up__anchor:hover {
  color: white;
}
.main-header .img-container {
  background: url(../images/woman-watching-sports-training-online-on-laptop-royalty-free-image-1584717965.jpg) center no-repeat;
  height: 300px;
  padding: 100px 0px;
  background-size: cover;
  position: relative;
  font-size: 1.5rem;
  font-family: "Source Code Pro", monospace;
  color: white;
}
.main-header .img-container p {
  text-align: center;
  padding: 50px 50px 0 50px;
}

main section {
  width: 80%;
  margin: auto;
  text-align: center;
}
main #for-border {
  margin-left: 25%;
  width: 50%;
  border-bottom: 1px #6b6b6b solid;
}
main h2 {
  margin: 2rem 0 1rem 0;
  font-family: "Lexend Mega", sans-serif;
}
main p {
  margin-top: 1rem;
  font-size: 1.2rem;
}
main .why-join .container .why-join__elt {
  margin: 2rem 0;
}
main .why-join .container .why-join__elt i {
  color: #66FCF1;
}
main .why-join .container .why-join__elt .why-join__elt__title {
  margin: 0.5rem;
  font-family: "Lexend Mega", sans-serif;
  font-size: 1.5rem;
}
main .pricing {
  width: 100%;
  background-color: #C5C6C8;
}
main .pricing .container {
  width: 80%;
  margin: auto;
}
main .pricing .container .section-title {
  padding-top: 2rem;
}
main .pricing .container .flex-container {
  margin: 2rem 0;
}
main .pricing .container .flex-container .pricing__elt {
  transition: 0.3s ease-in-out;
  margin: 1rem;
  position: relative;
  padding-bottom: 4rem;
  background-color: white;
}
main .pricing .container .flex-container .pricing__elt i {
  color: #66FCF1;
}
main .pricing .container .flex-container .pricing__elt h4 {
  background-color: #202833;
  color: white;
  padding: 1rem;
  font-family: "Lexend Mega", sans-serif;
}
main .pricing .container .flex-container .pricing__elt .pricing__elt__signUp {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #66FCF1;
  border-radius: 10px;
  margin: 1rem;
}
main .pricing .container .flex-container .pricing__elt .pricing__elt__signUp a {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  text-decoration: none;
  color: #66FCF1;
}
main .pricing .container .flex-container .pricing__elt .pricing__elt__signUp:hover {
  background-color: #66FCF1;
}
main .pricing .container .flex-container .pricing__elt .pricing__elt__signUp:hover a {
  color: white;
}
main .pricing .container .flex-container .pricing__elt:hover {
  transform: scale(1.05);
}

.modal {
  position: fixed;
  display: none;
  top: 0;
  align-items: center;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background-color: rgba(66, 65, 65, 0.5);
}
.modal .modal__list {
  margin-bottom: 25%;
  width: 100%;
  background-color: #202833;
}
.modal .modal__list li {
  border: 2px solid #888a8d;
  border-bottom: none;
  height: 5rem;
}
.modal .modal__list li a {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0 30px;
  align-items: center;
  text-decoration: none;
  color: #C5C6C8;
  font-size: 1.5rem;
}
.modal .modal__list li i {
  height: 1rem;
  color: #66FCF1;
}
.modal .modal__list li:last-of-type {
  border-bottom: 2px solid #888a8d;
}

@media (min-width: 40rem) {
  .main-header .main-header__nav .main-header__nav__logo {
    margin: 0 auto 0 5%;
  }
  .main-header .main-header__nav .main-header__nav__list {
    margin: 0 10% 0 auto;
    list-style: none;
    display: flex;
  }
  .main-header .main-header__nav .main-header__nav__list li {
    font-size: 2rem;
    margin: 0 2rem;
    padding: 0.3rem 0.75rem;
  }
  .main-header .main-header__nav .main-header__nav__list a:hover {
    color: #a5a5a5;
  }
  .main-header .main-header__nav .main-header__nav__hamburger-menu {
    display: none;
  }
  .main-header .img-container {
    height: 600px;
  }
  .main-header .img-container p {
    font-size: 4rem;
    text-align: center;
    padding: 150px 150px 0 150px;
  }

  main .container .flex-container {
    display: flex;
    justify-content: center;
  }
  main .container .flex-container .why-join__elt {
    display: inline-block;
    width: 30%;
  }
  main .container .flex-container .why-join__elt .why-join__elt__desc {
    text-align: center;
    padding: 0 10% 0 10%;
  }
  main .pricing .container .flex-container {
    align-items: stretch;
    display: flex;
  }
  main .pricing .container .flex-container .pricing__elt {
    flex-basis: 100%;
  }
  main .pricing .container .flex-container #prenium {
    margin-top: 0;
  }
  main .pricing .container .flex-container #prenium h4 {
    background-color: #66FCF1;
  }
}

/*# sourceMappingURL=shared.css.map */
