@use 'colors' as *;
.main-header{
    .img-container{
        background: url("../images/FW-coach.png");
        
        background-position: center 8%;
        background-repeat: no-repeat;
    }
}

.main-container{
    width: 100%;
    background-color: map-get($colors,light-dark);
    color: white;
    p{
        text-align: left;
        padding: 0.5rem 0;
        line-height: 1.5rem;
    }
    .main-container__presentation{
        width: 80%;
        margin: auto;
        padding: 2rem 0;
        text-align: center;
        color: white;
        h1{
            font-family: "Lexend Mega", sans-serif;
            color: map-get($colors,light-green);
            padding: 1rem 0;
        }

        h3{
            font-size: 1.5rem;
            padding: 0.5rem 0;
        }

    }

    .main-container__coaches{
        width: 80%;
        margin: auto;
        .main-container__coaches__elt{
            text-align: center;
            margin-top: 1rem;
            border-top: 2px map-get($colors,dark-green) solid;
            h1{
                text-align: center;
                color: map-get($colors,light-green);
                font-family: "Lexend Mega", sans-serif;
                padding-bottom: 0.5rem;
            }
            img{
                height: 250px;
                padding-bottom: 1rem;
                display:inline-block;
                vertical-align: top;
            }
            .main-container__coaches__elt__text{
                display: inline-block;
                
                padding-left: 2rem;
                p{
                    padding-top: 0.5rem;
                }
                p:first-of-type{
                    padding-top: 0;
                }
            }
        }

    }
}

@media (min-width:40rem){

    .main-header{
        .img-container{
            background-size: cover;
            background-position: unset;
        }
    }
    .main-container{
        .main-container__coaches{
            .main-container__coaches__elt{
                .main-container__coaches__elt__text{
                    width: 75%;
                }
            }
        }
    }
}