@use 'colors' as *;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto Condensed", sans-serif;
}

.main-header{
    width: 100%;
    
    .main-header__nav{
        background-color: #202833;
        position: fixed;
        width: 100%;
        top: 0;
        padding: 0.5rem 0;
        z-index: 5;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            text-decoration: none;
            color: map-get($colors, light-grey);
        }
    }


    .main-header__nav__logo{
        margin: 0 auto 0 5%;
        
        font: {
            size: 2.5rem;
            family:'Source Code Pro', monospace;
        }
        span{
            color: map-get($colors, light-green );
        }
    }
    .main-header__nav__hamburger-menu{
        height: 3rem;
        padding: 0.75rem 1rem;
        vertical-align: middle;
        display: inline-block;

        img{
            height: 2rem;
        }
    }

    .main-header__nav__list{
        margin: 0 10% 0 auto;
        list-style: none;
        display: none;
        top: 0;
        li{
            font-size: 2rem;
            padding: 0 2rem;
            
        }

        @keyframes delayed-fade-in-left {
            0%{
                opacity:0;
                transform: translateX(-50px);
            }
            25%{
                opacity:0.25;
                transform: translateX(-37.5px);

            }
            50%{
                opacity:0.5;
                transform: translateX(-25px);

            }
            75%{
                opacity:0.75;
                transform: translateX(-12.5px);

            }
            100%{
                opacity: 1;
                transform: translateX(0)
            }
        }
        .delay-1{
            
            animation-delay: 100ms;
        }
        .delay-2{
            animation-delay: 200ms;
        }
        .delay-3{
            animation-delay: 300ms;
        }
        a:hover{
            color: rgb(165, 165, 165);
        }
    }

    .img-container{
        background: url(../images/woman-watching-sports-training-online-on-laptop-royalty-free-image-1584717965.jpg) center no-repeat;
        height: 300px;
        padding: 100px 0px;
        background-size: cover;
        position: relative;
        font: {
            size:1.5rem;
            family:'Source Code Pro', monospace;;
        }
        color: white;
        p{
            text-align: center;
            padding: 50px 50px 0 50px;
        }
    }
}

.main-footer{
    background-color: map-get($colors,background-dark);
    color: white;
    .back-to-top{
        text-align: center;
        padding-bottom: 1rem;
        i{
            color: white;
        }
        i:hover{
            color: map-get($colors,light-green);
        }
     }
    .main-footer__container{
        
        display: flex;
        flex-direction: column;
        align-items: center;

        div{
            margin: 1rem 0.5rem;
        }

        .main-footer__container__social-media{
            display: flex;
            width: 80%;
            flex-wrap: wrap;
            align-items: center;
            flex-direction: column;
            p{
                width: 100%;
                font-size: 1.2rem;
                font-weight: bold;
                text-align: center;
                border-bottom: solid 1px #6b6b6b;
            }
            
            i{
                display: none;
                color: white;
            }
            .main-footer__container__social-media__link-wrapper{
                text-align: center;
                margin: 0.5rem 0;
                width: 35%;
                a{
                    display: flex;
                    justify-content: center;
                    text-decoration: none;
                    padding: 0.7rem 0.5rem;
                    background-color: map-get($colors,light-green);
                    span{
                        color: white;
                    }
                }
                a:hover{
                    i{
                        color:map-get($colors,light-green);
                    }
                }
            }
            .main-footer__container__social-media__link-wrapper:last-of-type{
                margin-bottom: 0;
            }
        }
        .main-footer__container__about{
            text-align: center;
            width: 80%;
            margin-top: 0;
            span{
                color: map-get($colors,light-green);
            }
            .main-footer__container__about__title{
                padding-bottom: 10px;
                border-bottom: solid 1px #6b6b6b;
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
        .main-footer__container__about__desc{
            margin: auto;
            padding-top: 0.5rem;
            width: 75%;
        }

        
        
    }
}

.modal{
    position: fixed;
    display: none;
    top: 0;
    align-items: center;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: rgba(66, 65, 65,0.5);

    .modal__list{
        margin-bottom: 25%;
        width: 100%;
        background-color: map-get($colors,background-dark);
        
        li{
            border: 2px solid #888a8d;
            border-bottom: none;
            height: 5rem;
            a{
                display: flex;
                justify-content: space-between;
                height: 100%;
                padding: 0 30px;
                align-items: center;
                text-decoration: none;
                color: map-get($colors,light-grey);
               font: {
                   size:1.5rem;
               }
            }
        }

        li:last-of-type{
            border-bottom: 2px solid #888a8d;
        }
    }
}

@media (min-width:40rem){
    .main-header{
        .main-header__nav{
            .main-header__nav__logo{
                margin: 0 auto 0 5%;
            }
            .main-header__nav__list{
                margin: 0 10% 0 auto;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                li{
                    animation-name: delayed-fade-in-left;
                    animation-duration: .5s;
                    animation-fill-mode: forwards;
                    animation-timing-function: ease-out;
                    opacity: 0;
                    font-size: 2rem;
                    margin: 0 2rem;
                    padding: 0.3rem 0.75rem;
                }

                a:hover{
                    color: rgb(165, 165, 165);
                }
                .main-header__nav__list__cta{
                    background-color: white;
                    border: 1px #66FCF1 solid;
                    border-radius: 15px;
                    padding: 0;
    
                    a{
                        display: flex;
                        height: 100%;
                        padding: 0.3rem 0.7rem;
                        color: map-get($colors,light-green);
                    }
                }
            }
            

            .main-header__nav__list__cta:hover{
                background-color: map-get($colors,light-green);

                #sign-up__anchor{
                    color:white;
                }
            }

            .main-header__nav__hamburger-menu{
                display: none;
            }
            
            
    }
    .img-container{
        height: 600px;

        p{
            font-size: 4rem;
            text-align: center;
            padding: 150px 150px 0 150px;
        }
    }
    
}
.main-footer{
    .main-footer__container{
        flex-flow: row;
        align-items: stretch;
        .main-footer__container__social-media{
            order: 2;
            flex-direction: row;
            justify-content: center;
            p{
                border-bottom: none;
            }
            i{
                display: initial;
            }
            a{
                
            span{
                display: none;
            }
        }
            .main-footer__container__social-media__link-wrapper{
                width: auto;
                padding: 0 15px;
                a{
                    background-color:transparent;
                }
            }
            .main-footer__container__social-media__link-wrapper:last-of-type{
                margin-bottom: auto;
            }
        }
        .main-footer__container__about{
            margin:auto;
            .main-footer__container__about__title{
                border-bottom: none;
            }
        }
    }
}
}